
@page "/detailstudent/{id}"

<p>Student Id: @Student.studentID</p>
<p>Student LastName: @Student.firstName</p>
<p>Student firstName: @Student.lastName</p>
<p>Student enrollmentDate: @Student.enrollmentDate</p>

